APP_DEBUG=False
APP_HOST=0.0.0.0
APP_PORT=8000

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ab-financial-reporting
DB_HOST=postgres
DB_PORT=5432

SEED_ENABLED=True
SEED_USERS_COUNT=120
SEED_TRANSACTIONS_COUNT=12000
